<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Admin/Category</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <div class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">T3admin</span>
      </div>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

   

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
			<i class="bi bi-person-circle" ></i>
            <span class="d-none d-md-block dropdown-toggle ps-2">Nguyễn Hoàng Tùng</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Tung123</h6>
              <span>Quản trị viên</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>Đổi mật khẩu</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Đăng xuất</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

     
	  <li class="nav-heading">Quản lý bán hàng</li>
	  <li class="nav-item">
        <a class="nav-link collapsed" href="Category.html">
          <i class="bi bi-layout-text-window-reverse"></i>
          <span>Danh mục</span>
        </a>
      </li>
	  <li class="nav-item">
        <a class="nav-link collapsed" href="product.html">
          <i class="bi bi-grid"></i>
          <span>Sản phẩm</span>
        </a>
      </li>

      <li class="nav-heading">Quản lý tài khoản</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="account.html">
          <i class="bi bi-person"></i>
          <span>tài khoản</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link " href="group.html">
          <i class="bi bi-question-circle"></i>
          <span>Phân quyền</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Phân quyền</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Quản lý tài khoản</a></li>
          <li class="breadcrumb-item active">Phân quyền</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><b>Phân quyền</b></h3>
			  <div style="display: flex; justify-content: flex-start; padding-left: 20px;">
				<div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
					<button type="button" id="addb" class="btn btn-success" ><i class="bi bi-plus-lg"></i></button>
					<p> Thêm mới</p>
				</div>
			  </div>
			  <div class="card">
            <div class="card-body row hide" id="addf" >
              <h5 class="card-title">Thêm mới</h5>

              <!-- Vertical Form -->
              <form >              

				<label for="roleSelect" class="form-label">Chọn vai trò</label>
				<select class="form-select" id="roleSelect">
				  <option selected>Chọn vai trò...</option>
				  <option value="1">Quản lý</option>
				  
				  <option value="2">Khách hàng</option>
				</select>
								
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Thêm</button>
                  
                </div>
              </form><!-- Vertical Form -->

            </div>
          </div>
              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>                    
                    <th>Vai trò</th>
                    <th>Quyền hạn</th>
                    <th>Hành động</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>				                                    
					<td>Quản lý</td>
					<td>Có quyền kiểm soát toàn bộ hệ thống của trang web</td>
                    <td>
					<button type="button" class="btn btn-outline-warning">Sửa</button>
					<button type="button" class="btn btn-outline-danger">xoá</button>
					</td>
                  </tr>
                  
				  <tr>					                                     
                    <td>Khách hàng</td>
                    <td>Có quyền sử dụng các dịch vụ hoặc chức năng mà trang web cung cấp</td>
                    <td>
					<button type="button" class="btn btn-outline-warning">Sửa</button>
					<button type="button" class="btn btn-outline-danger">xoá</button>
					</td>
                  </tr>
				  
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script> 
	document.getElementById('addb').addEventListener('click', () => {toggleUpload();});
	function toggleUpload() {
    const addForm = document.getElementById('addf');
    

    if (addForm.classList.contains('hide')) {
        addForm.classList.remove('hide');
   

    } else {
        addForm.classList.add('hide');
       
    }
}
  </script>

</body>

</html>